body {
    display: flex;
    margin: 0;
}

#rules {
    padding: 2rem;
}

#game-board {
    /* position: absolute; */
    width: 100vh;
    height: 100vh;
    left: 0;
    top: 0;
    background: url("images/floorA.jpg");
    background-size: 30%;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: repeat(10, 10vw, [divider]);
    grid-template-rows: repeat(10, 10vw, [divider]);;
}

#game-board > .arrow-mode.cell {
    border-color: #aa9900;
}

.cell {
    position: relative;
    border: 5px solid transparent;
    border-image-source: url("images/walls.png");
    border-image-repeat: stretch;
    border-image-slice: 30;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.warning {
    background: url("/images/velociraptor-tracks.png");
    background-size: cover;
}

#game-board > .trap.cell {
    background: url("./images/pit.png");
        background-size: 300%;
        background-position: center;
}

#game-board > .aiming.cell {
    background: url("./images/arrow.png");
    background-size: cover;
}

.fog {
    background: #555555;
    border: none;
}

.wumpus {
    background: url("./images/wumpus.png");
    background-size: cover;
}

.player {
    background: url("./images/ranger.png");
    background-size: cover;
}

.top-door {
    border-top: 0.5px dashed #555555;
}

.right-door {
    border-right: 0.5px dashed #555555;
}

.bottom-door {
    border-bottom: 0.5px dashed #555555;
}

.left-door {
    border-left: 0.5px dashed #555555;
}